.reviews {

  &__content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-bottom: 48px;
  }
  &__image {
    margin-right: 60px;
    width: 169px;
    height: 169px;
  }
  &__person {
    color: #0D0D0D;
    font-weight: 700;
    font-size: 18px;
  }
  &__achievements {
    color: #646464;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
  }
  &__descr {
    color: #0D0D0D;
    font-weight: 300;
    font-size: 16px;
    margin-right: 70px;
  }
}